h2{
    background-color:yellow;
    color:white;
}
.bujji{
    background-color: green;
    color:wheat;

}
.bajji{
    background-color: red;
    color: bisque;
}
#chitti{
    background-color: blue;
    color: brown;
}